.clickableHeaders a {
    width: 100%;
    height: 100%;
    margin: 0;
    text-decoration: none;
}
.clickableHeaders a:visited {
    color: inherit;
}
.clickableHeaders th.focused {
    background-color: #ddeeff;
}
