<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Sida finst ikkje</title>
</head>

<body data-color-scheme="light" data-size="md">
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main id="hovudinnhald" tabindex="-1">
        <div class="ds-alert" data-color="warning" role="alert">
            <h1 class="ds-heading" data-size="md">
                Beklager! Me fann ikkje sida.
            </h1>
            <p class="ds-paragraph">
                Dobbeltsjekk om du har rett lenke eller rapporter bug i Jira om
                du trur det er ein bug.
            </p>
        </div>

        <div>
            <a th:href="@{/}" class="ds-button">
                Heim
            </a>
        </div>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
