<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Uventet feil</title>
</head>

<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>
        <h1 class="ds-heading" data-size="lg">
            Beklager! Me har gjort noko gale.
        </h1>

        <p class="ds-paragraph">
            Det har skjedd ein uventa feil. Anten noko gale me har gjort eller
            kontakt med ekstern teneste feila.
        </p>

        <p class="ds-paragraph">
            <a th:href="@{/}" class="ds-button">
                Heim
            </a>
        </p>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
