<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/simple_tabs.css}">
    <title>Bevistypar i sandkassa</title>
</head>

<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>
        <nav id="tabs_container">
            <a th:href="@{/relying-parties}" class="tab" data-size="lg">
                Brukarstader
            </a>
            <a th:href="@{/credentials-catalogue}" class="tab" data-size="lg" aria-selected="true">
                Beviskatalog
            </a>
        </nav>
        <h1 class="ds-heading" data-size="lg">
            Typar bevis i sandkassa
        </h1>

        <div th:replace="~{fragments/credentials_fragments :: credentials_table_fragment}">
        </div>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
