<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no"
      th:with="credential=${credentialAttr}">
<!--/*@thymesVar id="credentialAttr" type="no.idporten.eudiw.rp.register.lookup.web.resource.credentials.CredentialResource"*/-->
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title th:text="|Detaljar for ${credential.credentialType()}|"></title>
</head>
<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>
        <p class="ds-paragraph">
            <a th:href="@{/credentials-catalogue}" class="ds-button">
                Tilbake til beviskatalog
            </a>
        </p>

        <h1 class="ds-heading" data-size="lg">
            Detaljar for bevis: <span th:text="${credential.metadata().getCredentialTypeDisplayName('no')}"/>
        </h1>

        <div
             th:replace="~{fragments/credentials_fragments
                            :: single_credential_table_fragment(credential=${credential})}">
        </div>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
