<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <title>Innsynstjenesten - søk</title>
    <link th:href="@{/css/searchPage.css}" rel="stylesheet" />
</head>

<body>
<h1>Innsynstjenestens søkefunksjon</h1>
<div>

    <!--/*
        search form
    */-->
    <div class="verticalHalfpage">
        <h2>Søk på relying parties</h2>
        <form
            th:object="${searchFormAttr}"
            th:action="@{/}"
            method="POST">
                <label for="orgno" class="form-label">Org.nr.</label>
                <input id="orgno" type="text" th:field="*{orgno}" />

                <ul>
                    <li th:each="error : ${#fields.errors('orgno')}"
                        th:text="${error}"
                        class="errorText" />
                </ul>

                <label for="name" class="form-label">Navn</label>
                <input id="name" type="text" th:field="*{name}" />
                <ul>
                    <li th:each="error : ${#fields.errors('name')}"
                        th:text="${error}"
                        class="errorText" />
                </ul>

            <p>
                <label for="sector" class="form-label">Sektor</label>
                <select id="sector" th:field="*{searchSector}">
                    <option th:each="searchSectorOption : ${searchFormAttr.getSearchSectorOptions()}"
                            th:text="${searchSectorOption.displayName}"
                            th:value="${searchSectorOption}"
                    />
                </select>
            </p>
            <p>
                <label for="includeInactive" class="form-label">Inkluder inaktive</label>
                <input id="includeInactive" type="checkbox" th:field="*{includeInactive}"/>
            </p>

            <button type="submit">Søk</button>
        </form>
        <hr>
        <a th:href="@{/getAll}">
            <button>Hent alle</button>
        </a>

    </div>

    <!--/*
        search results list with clickable rows
    */-->
    <div class="verticalHalfpage">
        <div class="row">
        <h2>Søkekeresultat</h2>
            <div th:unless="${ #maps.isEmpty(resultsAttr)}"
                 class="fixedHeaderTable"
            >
                <table>
                    <thead>
                        <tr>
                            <th>Organisajonsnummer</th>
                            <th>Navn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rp : ${resultsAttr}"
                            style="cursor: pointer"
                        >
                            <td th:text="${rp.value.orgno}"></td>
                            <td>
                                <a th:text="${rp.value.name}" th:href="|@{/details}/${rp.key}|"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${ #maps.isEmpty(resultsAttr)}">
                Ingen resultat!
            </div>
        </div>
    </div>
</div>
</body>
</html>
