<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <title>Innsynstjenesten - søk</title>
    <link th:href="@{/css/searchPage.css}" rel="stylesheet">
</head>

<body>

<div class="two-column-page">
    <h1>Innsynstjenestens søkefunksjon</h1>
    <div class="flexbox">

        <!--/*
            search form/results column
        */-->
        <div class="search-column" id="search_column">

            <!--/*
                search form
            */-->
            <h2>Søk etter brukerstader</h2>
            <form
                    th:object="${searchFormAttr}"
                    th:action="@{/}"
                    method="POST">
                <label for="search_term" class="form-label"></label>
                <input id="search_term"
                       type="text"
                       th:field="*{searchTerm}"
                       placeholder="Søk på org.nr. eller navn"
                >

                <button type="submit">Søk</button>
                <br>
                <label for="includeInactive" class="form-label">Inkluder inaktive</label>
                <input id="includeInactive" type="checkbox" th:field="*{includeInactive}">
                <ul th:if="${#fields.hasErrors()}">
                    <li th:each="error : ${#fields.errors('searchTerm')}"
                        th:text="${error}"
                        class="error-text" />
                </ul>
            </form>

            <!--/*
                search results
            */-->
            <div>
            <h2>Søkeresultat</h2>
            <div th:unless="${ #maps.isEmpty(resultsAttr.relyingParties())}">
                <div class="fixed-headers-table">
                    <table>
                        <thead>
                        <tr><th>Org.nr.</th><th>Navn</th></tr>
                        </thead>
                        <tbody>

                        <tr th:each="rp : ${resultsAttr.relyingParties().values()}"
                            style="cursor: pointer">
                            <td><a class="invisible-link" th:href="|@{/details}/${rp.id}|"><div th:text="${rp.orgno}"/></a> </td>
                            <td><a class="invisible-link" th:href="|@{/details}/${rp.id}|"><div th:text="${rp.name}"/></a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>

        </div>
        <div th:replace="~{fragments/detailed_view :: detailed_view_column}"></div>
    </div>
</div>

</body>
</html>
