<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/simple_tabs.css}">
    <title>Register over brukerstader</title>
    <style>
        .clickableHeaders a {
            width: 100%;
            height: 100%;
            margin: 0;
            text-decoration: none;
        }
        .clickableHeaders a:visited {
            color: inherit;
        }
        .clickableHeaders th.focused {
            background-color: #ddeeff;
        }
    </style>
</head>

<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>
        <nav id="tabs_container">
            <a th:href="@{/relying-parties}" class="tab" data-size="lg" aria-selected="true">
                Brukarstader
            </a>
            <a th:href="@{/credentials-catalogue}" class="tab" data-size="lg">
                Beviskatalog
            </a>
        </nav>

        <h1 class="ds-heading" data-size="lg">
            Register over brukerstader
        </h1>
        <form th:replace="~{fragments/search_fragments :: search_form_fragment}">
        </form>

        <div th:replace="~{fragments/search_fragments :: results_table_fragment}">
        </div>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
