<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Legg til ny brukarstad</title>
    <style>
        div.ds-card + div.ds-card {margin-top: 8px;}
    </style>
</head>

<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>

<main>

    <p class="ds-paragraph">
        <a th:href="@{/search}" class="ds-button" data-variant="secondary">
            Til søk
        </a>
    </p>

    <h1 class="ds-heading" data-size="lg">
        Legg til ny brukarstad
    </h1>

    <div th:replace="~{fragments/create_fragments :: create_form_fragment}">
    </div>
</main>

<footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>

