<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Aksesssertifikat registrert</title>
</head>

<!--/*@thymesVar id="detailedViewDataAttr" type="no.idporten.eudiw.rp.admin.web.resource.RelyingPartyResource"*/-->
<body th:with="rp=${detailedViewDataAttr}">

    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>
        <p class="ds-paragraph">
            <a th:href="@{/details#certificates(id=${rp.id})}"
               class="ds-button"
               data-variant="secondary"
               data-size="sm">
                Tilbake til <span th:text="${rp.name}"/>
            </a>
        </p>

        <h2 class="ds-heading">
            Sertifikat registrert!
        </h2>
        <p>
            CSR'en ble akseptert og følgende ny sertifikat ble registrert
            for <span th:text="${rp.name}"/>:
        </p>

        <!--/*@thymesVar id="newCertificateAttr" type="no.idporten.eudiw.rp.admin.web.search.resultsview.RelyingPartyAccessCertificateSummary"*/-->
        <table th:replace="~{fragments/csr_fragments
                              :: single_certificate_table_fragment(
                                  ${newCertificateAttr})}">
        </table>
    </main>

    <header th:replace="~{fragments/general :: page_footer_fragment}"></header>
</body>
</html>
