<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <title>Lag nyt aksesssertifikat</title>
</head>

<!--/*@thymesVar id="detailedViewDataAttr" type="no.idporten.eudiw.rp.admin.web.resource.RelyingPartyResource"*/-->
<body th:with="rp=${detailedViewDataAttr}">

    <div th:replace="~{fragments/general :: digdir_header}"></div>
    <p>
        <a th:href="@{/details#certificates(id=${rp.id})}">
            Tilbake til <span th:text="${rp.name}"/>
        </a>
    </p>

    <h2>Sertifikat registrert!</h2>

    <p>
        CSR'en ble akseptert og følgende ny sertifikat ble registrert
        for <span th:text="${rp.name}"/>:
    </p>

    <!--/*@thymesVar id="newCertificateAttr" type="no.idporten.eudiw.rp.admin.web.search.resultsview.RelyingPartyAccessCertificateSummary"*/-->
    <table th:insert="~{fragments/csr_fragments
                          :: single_certificate_table_fragment(
                              ${newCertificateAttr})}">
    </table>

    <div th:replace="~{fragments/general :: digdir_footer}"></div>
</body>
</html>
