<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="nb-no"
      th:with="rp=${detailedViewDataAttr}">
<head th:replace="~{fragments/general :: head_fragment(title=|Detaljer for ${rp.name}|)}">
</head>
<!--/*
    to add new tab/:
    1) add a child element to the "content_panels" div, with some id "#<panel_id>".
    2) optionally add a link to the tab with href="#<page_tabs>" to the
       "page_tabs" container.
*/-->

<!--/*@thymesVar id="detailedViewDataAttr" type="no.idporten.eudiw.rp.admin.web.resource.RelyingPartyResource"*/-->
<!--/*@thymesVar id="certificateSummariesAttr" type="java.util.List<no.idporten.eudiw.rp.admin.web.search.resultsview.RelyingPartyAccessCertificateSummary>"*/-->
<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>
        <h1 class="ds-heading" data-size="lg">
            Detaljer for brukersted: <span th:text="${rp.name}"/>
        </h1>

        <nav id="tabs_container">
            <a href="#about" class="tab" data-size="lg">
                Generelt
            </a>
            <a href="#certificates" class="tab" data-size="lg">
                Aksess-sertifikater
            </a>
        </nav>

        <div id="panels_container">
            <div id="#about"
                 th:insert="~{fragments/details_tabs_fragments
                                :: general_info_content_fragment(rp=${rp})}">
            </div>
            <div id="#certificates"
                 th:insert="~{fragments/details_tabs_fragments
                                :: certificates_content_fragment(
                                    rp=${rp}, certs=${certificateSummariesAttr})}">
            </div>
        </div>

    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>

<script src="/js/simple_tabs.js"></script>
</body>
</html>
