<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no"
      th:with="rp=${detailedViewDataAttr}">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title th:text="|Detaljar for ${rp.name}|"></title>
    <link rel="stylesheet" th:href="@{/css/simple_tabs.css}">
</head>

<!--/*@thymesVar id="detailedViewDataAttr" type="no.idporten.eudiw.rp.admin.web.resource.RelyingPartyResource"*/-->
<!--/*@thymesVar id="certificateSummariesAttr" type="java.util.List<no.idporten.eudiw.rp.admin.web.search.resultsview.RelyingPartyAccessCertificateSummary>"*/-->
<body th:with="showCertificatesTab=${@authorizationService.userHasPrivilegedAccessTo(rp.orgno)}">
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>

        <p class="ds-paragraph">
            <a th:href="@{/search}" class="ds-button" data-variant="secondary">
                Tilbake til søk
            </a>
        </p>

        <h1 class="ds-heading" data-size="lg">
            Detaljar for brukarstad: <span th:text="${rp.name}"/>
        </h1>

        <nav id="tabs_container" th:if="${showCertificatesTab}">
            <a href="#about" class="tab" data-size="lg">
                Generelt
            </a>
            <a href="#certificates" class="tab" data-size="lg">
                Access-sertifikat
            </a>
        </nav>

        <div id="panels_container">
            <div id="#about"
                 th:insert="~{fragments/details_tabs_fragments
                                :: general_info_content_fragment(rp=${rp})}">
            </div>
            <div th:if="${showCertificatesTab}"
                 id="#certificates"
                 th:insert="~{fragments/details_tabs_fragments
                                :: certificates_content_fragment(
                                    rp=${rp}, certs=${certificateSummariesAttr})}">
            </div>
        </div>

    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>

<script th:if="${showCertificatesTab}" src="/js/simple_tabs.js"></script>
</body>
</html>
