<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <title>Detaljer for brukerstad</title>
    <style>
        .details_tab {
            display: none;
        }
    </style>
    <script>
        function switch_tab(current_tab_id) {
            // hide all tab elements, then show current.
            let tabs = document.getElementsByClassName("details_tab");
            for (let i = 0; i < tabs.length; i++)
                tabs[i].style.display = "none";
            document.getElementById(current_tab_id).style.display = "block";
        }
    </script>
</head>

<!--/*
    to add new tab:
        1) create element with class="details_tab" and some id=<tab_id>
        2) fill this element with content, e.g. a Thymeleaf fragment -- if so,
           it's important to use th:insert s.t. it keeps its id and class!
        3) define a button with onclick="switch_tab(<tab_id>)"
*/-->


<!--/*@thymesVar id="detailedViewDataAttr" type="no.idporten.eudiw.rp.admin.web.resource.RelyingPartyResource"*/-->
<!--/*@thymesVar id="certificateSummariesAttr" type="java.util.List<no.idporten.eudiw.rp.admin.web.search.resultsview.RelyingPartyAccessCertificateSummary>"*/-->
<body th:if="${detailedViewDataAttr} != null"
      th:with="rp=${detailedViewDataAttr}">

    <div th:replace="~{fragments/general :: digdir_header}"></div>

    <h2>Detaljer for brukerstad: <span th:text="${rp.name}"></span></h2>

    <button onclick="switch_tab('general_tab')">Generelt</button>
    <button onclick="switch_tab('certificates_tab')">Sertifikater</button>

    <div th:insert="~{fragments/detailed_view_tabs
                        :: general_info_content_fragment(${detailedViewDataAttr})}"
        class="details_tab"
        id="general_tab"
        style="display: block;">
    </div>

    <div th:insert="~{fragments/detailed_view_tabs
                        :: certificates_content_fragment(${certificateSummariesAttr})}"
        class="details_tab"
        id="certificates_tab">
    </div>

    <div th:replace="~{fragments/general :: digdir_footer}"></div>
</body>
</html>
