<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="nb-no"
      th:with="rp=${detailedViewDataAttr}">
<head th:replace="~{fragments/general :: head_fragment(title=|Endre brukersted ${rp.name}|)}">
</head>

<!--/*@thymesVar id="detailedViewDataAttr" type="no.idporten.eudiw.rp.admin.web.resource.RelyingPartyResource"*/-->
<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>

        <h1 class="ds-heading" data-size="lg">
            Endre brukersted: <span th:text="${rp.name}"></span>
        </h1>

        <p class="ds-paragraph">
            <a th:href="@{/details(id=${rp.id})}" class="ds-button">
                Tilbake til <span th:text="${rp.name}"></span>
            </a>
        </p>
        <div th:replace="~{fragments/edit_fragments :: edit_form_fragment(id=${rp.id})}">
        </div>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
