<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Søk etter brukersteder</title>
</head>

<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>
        <h1 class="ds-heading" data-size="lg">
            Brukersted finns ikkje!
        </h1>

        <p class="ds-paragraph">
            Fant intet brukersted for det gitte ID/organisasjonsnummer.
        </p>

        <p class="ds-paragraph">
            <a th:href="@{/search}" class="ds-button">
                Tilbake til søk
            </a>
        </p>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
