<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Sandkassa for digital lommebok</title>
</head>

<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>
        <div>
            <h1 class="ds-heading" data-size="lg">
                Velkomen til admintenesta for sandkassa
            </h1>
            <p class="ds-paragraph">
                Velkomen til administrasjonstenesta for sandkassa for digital lommebok.
            </p>

            <p class="ds-paragraph">
                Tilgong hit er styrt via AD-grupper. Ta kontakt med driftsleiar
                for Team Lommebok dersom du meiner at du treng tilgong.
            </p>
        </div>

        <nav class="flex-container">
            <a th:href="@{/search}" class="ds-card">
                <h2 class="ds-heading">
                    Søking
                </h2>
                <p class="ds-paragraph">
                    Søk etter brukarstader. Viss du er logga inn får du også
                    mogelegheit til å endre på brukarstader inkludert access-sertifikater.
                </p>
            </a>

            <a th:href="@{/create}" class="ds-card">
                <h2 class="ds-heading">
                    Registrering
                </h2>
                <p class="ds-paragraph">
                    Viss du er logga inn får du registrert nye brukarstader her.
                </p>
            </a>
        </nav>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
