<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Sandkassa for digital lommebok</title>
</head>

<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <div>
        <h1 class="ds-heading" data-size="lg" style="padding-left:2rem;">
            Adminteneste: Nasjonal sandkasse for digital lommebok
        </h1>
    </div>

    <main>
        <a th:href="@{/menu}" class="ds-button">
            Logg inn
        </a>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
