<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Brukarstadsregister - logg inn</title>
</head>
<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>
    <main>
        <div>
            <h1 class="ds-heading" data-size="lg">
                Brukarstadsregister
            </h1>
        </div>
        <div>
            <p class="ds-paragraph">
                Her kan du administrere brukarstader i
                <span th:if="${@environment.matchesProfiles('systest')}">
                    systestmiljøet til sandkassa.
                </span>
                <span th:if="${@environment.matchesProfiles('test')}">
                    testmiljøet til sandkassa.
                </span>
                <span th:if="${@environment.matchesProfiles('prod')}">
                    sandkassa.
                </span>
                <span th:if="${@environment.matchesProfiles('!(systest | test | prod)')}">
                    lokalt utviklingsmiljø.
                </span>
            </p>
        </div>

        <nav class="flex-container">
            <th:block th:if="${@environment.matchesProfiles('selfservice')}">

                <th:block th:if="${@environment.matchesProfiles('dev')}">
                    <form th:action="@{/login}"
                          method="POST">
                        <div style="margin-bottom: 1em;">
                            <label for="username_field" class="ds-label">
                                Brukarnamn (vel "admin" for admin-rettar)
                            </label>
                            <p class="ds-paragraph">
                                <input id="username_field"
                                       name="username"
                                       type="text"
                                       size="32"
                                       class="ds-input"
                                >
                            </p>
                        </div>
                        <input name="password" type="hidden">
                        <button class="ds-button">Logg inn</button>
                    </form>
                </th:block>
                <th:block th:if="${@environment.matchesProfiles('docker | systest')}">
                    <a th:href="@{/oauth2/authorization/ansattporten(use_entra_id=true)}"
                       class="ds-card">
                        <h2 class="ds-heading">Med organisasjonskopling</h2>
                        Logg inn via Ansattporten med Entra-ID
                    </a>
                    <a th:href="@{/oauth2/authorization/ansattporten(use_synthetic_reportee=true)}"
                       class="ds-card">
                        <h2 class="ds-heading">Utan organisasjonskopling</h2>
                        Logg inn via Ansattporten med syntetisk organisasjon
                    </a>
                </th:block>

                <th:block th:if="${@environment.matchesProfiles('test')}">
                    <a th:href="@{/oauth2/authorization/ansattporten}"
                       class="ds-card">
                        <h2 class="ds-heading">Med organisasjonskopling</h2>
                        Logg inn via Ansattporten
                    </a>
                    <a th:href="@{/oauth2/authorization/ansattporten(use_synthetic_reportee=true)}"
                       class="ds-card">
                        <h2 class="ds-heading">Utan organisasjonskopling</h2>
                        Logg inn via Ansattporten med syntetisk organisasjon
                    </a>
                </th:block>

                <th:block th:if="${@environment.matchesProfiles('prod')}">
                    <a th:href="@{/oauth2/authorization/ansattporten}"
                       class="ds-card">
                        <h2 class="ds-heading">Logg inn med organisasjonskopling</h2>
                        Via Ansattporten
                    </a>
                    <div></div> <!--/* empty div to use natural DS style spacing */-->
                </th:block>
            </th:block>

            <th:block th:if="${@environment.matchesProfiles('admin')}">
                <div class="ds-card">
                    <h2 class="ds-heading">
                        Administrator-innlogging
                    </h2>
                    <a th:href="@{/oauth2/authorization/entra}"
                       class="ds-button">
                        Via Microsoft Entra-ID
                    </a>
                </div>
            </th:block>
        </nav>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
