<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Brukarstadsregister - logg inn</title>
</head>
<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>
    <main>
        <div>
            <h1 class="ds-heading" data-size="lg">
                Brukarstadsregister
            </h1>
        </div>
        <div>
            <p class="ds-paragraph">
                Her kan du administrere brukarstader i
                <span th:if="${@environment.matchesProfiles('systest')}">
                    systestmiljøet til sandkassa.
                </span>
                <span th:if="${@environment.matchesProfiles('test')}">
                    testmiljøet til sandkassa.
                </span>
                <span th:if="${@environment.matchesProfiles('prod')}">
                    sandkassa.
                </span>
                <span th:if="${@environment.matchesProfiles('!(systest | test | prod)')}">
                    lokalt utviklingsmiljø.
                </span>
            </p>
        </div>

        <nav class="flex-container">
            <th:block th:if="${@environment.matchesProfiles('selfservice')}">
                <div th:if="${@environment.matchesProfiles('prod')}">
                    <a class="ds-button"
                       th:href="@{/oauth2/authorization/ansattporten}">
                        Logg inn via Ansattporten
                    </a>
                </div>

                <th:block th:if="${@environment.matchesProfiles('!prod')}">
                    <div class="ds-card">
                        <h2 class="ds-heading">
                            Innlogging med organisasjonskopling
                        </h2>
                        <a th:href="@{/oauth2/authorization/ansattporten}"
                           class="ds-button">
                            Via Ansattporten
                        </a>
                        <a th:if="${@environment.matchesProfiles('!prod')}"
                           th:href="@{/oauth2/authorization/ansattporten(use_entra_id=true)}"
                           class="ds-button">
                           Via Ansattporten med Entra-ID
                        </a>
                    </div>
                    <div class="ds-card">
                        <h2 class="ds-heading">
                            Innlogging utan organisasjonskopling
                        </h2>
                        <a th:href="@{/oauth2/authorization/ansattporten(use_synthetic_reportee=true)}"
                           class="ds-button">
                            Via Ansattporten med syntetisk organisasjon
                        </a>
                    </div>
                </th:block>
            </th:block>

            <th:block th:if="${@environment.matchesProfiles('admin')}">
                <div class="ds-card">
                    <h2 class="ds-heading">
                        Administrator-innlogging
                    </h2>
                    <a th:href="@{/oauth2/authorization/entra}"
                       class="ds-button">
                        Via Microsoft Entra-ID
                    </a>
                </div>
            </th:block>
        </nav>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
