<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Mine registreringar</title>
</head>
<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>
        <h1 class="ds-heading" data-size="lg">
            Mine registreringar
        </h1>

        <p class="ds-paragraph">
            <a th:href="@{/create}" class="ds-button">
                Registrer ny brukarstad
            </a>
        </p>
        <div th:replace="~{fragments/registrations_fragments :: registrations_table_fragment}">
        </div>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
