<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <title>Sandkasse for digital lommebok - Admintjenesta</title>
</head>
<body>
    <div th:replace="~{fragments/general :: digdir_header}">
    </div>

    <div class="two-column-page">
        <div class="flexbox">
            <h2>Søk etter brukerstader</h2>
            <form th:replace="~{fragments/search_fragments :: search_form_fragment}">
            </form>

            <div th:replace="~{fragments/search_fragments :: results_table_fragment}">
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/general :: digdir_footer}"></div>
</body>
</html>
