<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head th:replace="~{fragments/general :: head_fragment(title='Søk etter brukersteder')}">

<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>
        <h1 class="ds-heading" data-size="lg">
            Søk etter brukersteder
        </h1>
        <form th:replace="~{fragments/search_fragments :: search_form_fragment}">
        </form>

        <div th:replace="~{fragments/search_fragments :: results_table_fragment}">
        </div>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
