<div th:fragment="credentials_table_fragment">
    <!--/*@thymesVar id="credentialsAttr" type="java.util.List<no.idporten.eudiw.rp.register.lookup.web.resource.credentials.CredentialResource>"*/-->
    <div th:with="credentials=${credentialsAttr}">
        <div th:if="${#lists.isEmpty(credentials)}">
            Fann ingen bevistypar.
        </div>

        <div style="margin-bottom: 1em;">
            <label for="credentials_filter_field" class="ds-label"></label>
            <input id="credentials_filter_field"
                   class="ds-input"
                   type="text"
                   placeholder="Filtrer beviser"
                   size="50">
        </div>

        <table id="credentials_table"
               th:unless="${#lists.isEmpty(credentials)}"
               class="ds-table"
               data-border="true">
            <thead class="clickableHeaders">
                <tr>
                    <!--/*@thymesVar id="sortKeyAttr" type="java.lang.String"*/-->
                    <th th:class="${#strings.equals(sortKeyAttr, 'name') ? 'focused' : ''}">
                        <a th:href="@{/credentials-catalogue(sort='name')}" class="ds-link">
                            Namn
                        </a>
                    </th>
                    <th th:class="${#strings.equals(sortKeyAttr, 'issuer') ? 'focused' : ''}">
                        <a th:href="@{/credentials-catalogue(sort='issuer')}" class="ds-link">
                            Utstedar
                        </a>
                    </th>
                    <th th:class="${#strings.equals(sortKeyAttr, 'credential_type') ? 'focused' : ''}">
                        <a th:href="@{/credentials-catalogue(sort='credential_type')}" class="ds-link">
                            Bevistype
                        </a>
                    </th>
                    <th th:class="${#strings.equals(sortKeyAttr, 'format') ? 'focused' : ''}">
                        <a th:href="@{/credentials-catalogue(sort='format')}" class="ds-link">
                            Format
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="credential : ${credentials}">
                    <td>
                        <a th:href="@{/credential
                                        (issuer=${credential.getIssuer()},
                                         config-id=${credential.getConfigurationId()})}"
                           class="ds-link"
                           data-variant="secondary"
                           th:text="${credential.getCredentialTypeDisplayName('no')}"
                           th:title="${credential.getCredentialTypeDescription('no')}"
                        >
                        </a>
                    </td>
                    <td th:text="${credential.getIssuerDisplayName('no')}"></td>
                    <td th:text="${#strings.abbreviate(credential.getCredentialType(),40)}"></td>
                    <td th:text="${credential.getFormat()}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
const credentials_table = document.getElementById("credentials_table");
const table_rows = credentials_table.tBodies[0].rows;
const filter_field = document.getElementById("credentials_filter_field");

function doFilterCredentials() {
    const filter_keys = filter_field.value.trim().toLowerCase().split(/\s+/);
    for (let row of table_rows) {
        let rowContents = row.innerText.toLowerCase();
        let allKeysFoundInRow =
            filter_keys.every(key => rowContents.indexOf(key) >= 0);
        row.style.display = allKeysFoundInRow ? "" : "none";
    }
}

document.getElementById("credentials_filter_field")
        .addEventListener("keyup", doFilterCredentials);
    </script>
</div>

<div th:fragment="single_credential_table_fragment(credential)">
    <!--/*@thymesVar id="credential" type="no.idporten.eudiw.rp.register.lookup.web.resource.credentials.CredentialResource"*/-->
    <div style="padding-bottom: 2em;">
        <table class="ds-table">
            <tbody>
                <tr>
                    <th>Namn</th>
                    <td th:text="${credential.getCredentialTypeDisplayName('no')}"></td>
                </tr>
                <tr th:if="${! #strings.isEmpty(credential.getCredentialTypeDescription('no'))}">
                    <th>Skrildring</th>
                    <td th:text="${credential.getCredentialTypeDescription('no')}"></td>
                </tr>
                <tr th:if="${credential.getCredentialType()}">
                    <th>Bevistype</th>
                    <td th:text="${credential.getCredentialType()}"></td>
                </tr>
                <tr>
                    <th>Utstedar</th>
                    <td>
                        <span th:text="${credential.getIssuerDisplayName('no')}"></span>
                        (<a th:href="|${credential.getIssuer()}/.well-known/openid-credential-issuer|"
                            th:text="${credential.getIssuer()}"
                            class="ds-link"
                            style="display: inline;">
                        </a>)
                    </td>
                </tr>
                <tr>
                    <th>Antal attributt</th>
                    <td th:text="${credential.getMetadata().getClaims().size()}"></td>
                </tr>
                <tr>
                    <th>Format</th>
                    <td th:text="${credential.getFormat()}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <details class="ds-details">
        <summary class="ds-label">Bevis-attributt</summary>
        <p th:if="${#lists.isEmpty(credential.getMetadata().getClaims())}"
           class="ds-paragraph">
            Beviset har ingen attributt.
        </p>
        <table th:if="${! #lists.isEmpty(credential.getMetadata().getClaims())}"
                class="ds-table">
            <thead>
                <tr>
                    <th>Attributt</th>
                    <th>DCQL-path</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="claim : ${credential.getMetadata().getClaims()}">
                    <td th:text="${claim.getClaimsDisplayName('no')}"></td>
                    <td th:text="${claim.getDcqlFormattedPaths()}"></td>
                </tr>
            </tbody>
        </table>
    </details>
</div>
