<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Ugjyldig ID</title>
</head>

<body>
    <header th:replace="~{fragments/general :: page_header_fragment}"></header>

    <main>
        <div>
            <h1 class="ds-heading" data-size="lg">
                Ugjyldig ID!
            </h1>
        </div>

        <div>
            <p class="ds-paragraph">
                Det gitte ID er ikkje gjyldig: "<span th:text="${rejectedIdAttr}"></span>".
            </p>

            <p class="ds-paragraph">
                Sjekk lenket eller prøv igjen.
            </p>
        </div>

        <p class="ds-paragraph">
            <a th:href="@{/}" class="ds-button">
                Hjem
            </a>
        </p>
    </main>

    <footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>
