<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <th:block th:replace="~{fragments/general :: base_head_fragment}"></th:block>
    <title>Registrer brukarstad</title>
    <style>
        div.ds-card + div.ds-card {margin-top: 8px;}
    </style>
</head>

<body>
<header th:replace="~{fragments/general :: page_header_fragment}"></header>

<main>

    <p class="ds-paragraph">
        <a th:href="@{/search}" class="ds-button" data-variant="secondary">
            Til søk
        </a>
    </p>

    <h1 class="ds-heading" data-size="lg">
        Registrer brukarstad
    </h1>

    <div class="ds-alert" data-color="info">
        <p class="ds-paragraph">
            Du får berre registrere brukerstader for den organisasjon som innlogginga
            din representerer - vil du registrere for anna organisasjon, får du bytte
            <a class="ds-link" th:href="@{/login}" style="display: inline;">her</a>.
        </p>
    </div>
    <div class="ds-alert" data-color="info">
        <p class="ds-paragraph">
            Som sjølvbeteningsbrukar får du berre velje bevistypar. Kontakt oss dersom
            du treng anna roller eller viss du meiner noko er feil.
        </p>
    </div>

    <div th:replace="~{fragments/selfservice/create_fragments :: create_form_fragment}">
    </div>
</main>

<footer th:replace="~{fragments/general :: page_footer_fragment}"></footer>
</body>
</html>

