<div th:fragment="eaa_fields_fragment"
     class="ds-card">
    <fieldset class="ds-fieldset" data-size="sm">
        <legend class="ds-label"
                data-weight="high">
            Vel bevistypar
        </legend>

        <div class="flex-container">
            <div>
                <p class="ds-paragraph space-bottom-8">
                    Bevistypar lagt inn
                </p>
                <table class="ds-table fixed-break-table"
                       data-border="true">
                    <thead>
                    <tr>
                        <th>Bevistype</th>
                        <th>Føremål</th>
                        <th class="narrow-cell"></th>
                    </tr>
                    </thead>
                    <tbody id="eaa_container"></tbody>
                </table>
            </div>

            <div>
                <fieldset class="ds-fieldset">
                    <legend class="ds-legend">
                        Legg til ny bevistype
                    </legend>
                    <div class="space-bottom-8">
                        <label for="eaa_namespace_field"
                               class="ds-label">
                            Bevistype
                        </label>
                        <input id="eaa_namespace_field"
                               type="text"
                               placeholder="Bevistype ..."
                               class="ds-input">
                        <div id="eaa_namespace_error_msg"
                             th:insert="~{fragments/general ::
                                                    generic_invalid_input_field_error_msg('EAA-namespace')}"
                             class="display-none"></div>

                        <label for="eaa_intent_field"
                               class="ds-label">
                            Føremål
                        </label>
                        <input id="eaa_intent_field"
                               type="text"
                               placeholder="Føremål ..."
                               class="ds-input">
                        <div id="eaa_intent_error_msg"
                             th:insert="~{fragments/general ::
                                                    generic_invalid_input_field_error_msg('EAA-intent')}"
                             class="display-none"></div>
                    </div>
                    <button type="button"
                            class="ds-button eaa-add"
                            data-variant="secondary">
                        Legg til
                    </button>
                </fieldset>
            </div>

        </div>
        <script src="/js/dynamic_edit_form_fields.js"></script>

        <!--/* pre-fill EAA list with values from create form. this can be
               non-empty if e.g. page is reloaded after form validation errors. */-->
        <div hidden
             id="eaa_prefill"
             th:each="eaa : ${createFormAttr.getEaas()}"
             th:attr="data-namespace=${eaa.namespace},data-intent=${eaa.intent}"></div>
    </fieldset>
</div>

<form th:fragment="make_admin_create_form_fragment"
      id="admin_create_form"
      th:object="${createFormAttr}"
      th:action="@{/admin/create}"
      method="POST">
    <!--/*@thymesVar id="createFormAttr" type="no.idporten.eudiw.rp.admin.web.form.admin.AdminCreateRelyingPartyForm"*/-->
    <div class="space-bottom-8">
        <div class="ds-card">
            <fieldset class="ds-fieldset"
                      data-size="sm">
                <legend class="ds-label"
                        data-weight="high">
                    Generelt
                </legend>

                <p class="ds-paragraph">
                    <label for="orgno_field"
                           data-weight="medium"
                           class="ds-label">
                        Org.nr.
                    </label>
                    <input id="orgno_field"
                           th:field="*{orgno}"
                           type="text"
                           placeholder="Org.nr."
                           class="ds-input"
                    >
                </p>
                <ul th:if="${#fields.hasErrors('orgno')}">
                    <li th:each="error : ${#fields.errors('orgno')}"
                        th:text="${error}"
                        class="ds-validation-message"></li>
                </ul>

                <p class="ds-paragraph">
                    <label for="trade_name_field"
                           class="ds-label">
                        Tenestenamn
                    </label>
                    <input id="trade_name_field"
                           th:field="*{tradeName}"
                           type="text"
                           placeholder="Tenestenamn"
                           class="ds-input"
                    >
                </p>
                <ul th:if="${#fields.hasErrors('tradeName')}">
                    <li th:each="error : ${#fields.errors('tradeName')}"
                        th:text="${error}"
                        class="ds-validation-message"></li>
                </ul>
            </fieldset>
        </div>

        <div class="ds-card">
            <fieldset class="ds-fieldset" data-size="sm">
                <legend class="ds-label"
                        data-weight="high">
                    Vel roller
                </legend>
                <table class="ds-table">
                    <thead>
                    <tr>
                        <th>Valt</th>
                        <th>Rolle</th>
                        <th>Utstedar-URL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="entitlementOptionsAttr" type="java.util.List<no.idporten.eudiw.rp.admin.web.form.RelyingPartyEntitlementFormField>"*/-->
                    <tr th:each="e, iter : ${@relyingPartiesService.getValidEntitlementOptions()}">
                        <!--/*@thymesVar id="e" type="no.idporten.eudiw.rp.admin.web.form.RelyingPartyEntitlementFormField"*/-->
                        <td>
                            <input th:id="|id-${e.getEntitlement()}|"
                                   type="checkbox"
                                   class="ds-input"
                                   th:name="|entitlements[${iter.index}].entitlement|"
                                   th:value="${e.getEntitlement()}"
                                   th:checked="${#lists.contains(createFormAttr.getEntitlementValues(), e.getEntitlement())}">
                        </td>
                        <td>
                            <label th:for="|id-${e.getEntitlement()}|" th:text="${e.getDisplayName()}"></label>
                        </td>
                        <td>
                            <input type="text"
                                   class="ds-input"
                                   th:name="|entitlements[${iter.index}].credentialIssuerUrl|"
                                   th:value="${e.getCredentialIssuerUrl()}"
                                   th:disabled="${! T(no.idporten.eudiw.rp.admin.entitlements.Entitlements)
                                                            .isIssuerEntitlement(e.getEntitlement())}"
                            >
                            <ul th:if="${iter.index < createFormAttr.getEntitlements().size() &&
                                           #fields.hasErrors('entitlements[__${iter.index}__].credentialIssuerUrl')}"
                                class="ds-list">
                                <li th:each="error : ${#fields.errors('entitlements[__${iter.index}__].credentialIssuerUrl')}"
                                    th:text="${error}"
                                    class="ds-validation-message">
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </fieldset>
            <ul th:if="${#fields.hasErrors('entitlements')}">
                <li th:each="error : ${#fields.errors('entitlements')}"
                    th:text="${error}"
                    class="ds-validation-message"></li>
            </ul>
        </div>

        <div th:replace="~{:: eaa_fields_fragment}"></div>

    </div>

    <div class="flex-container">
        <button type="submit"
                class="ds-button"
                data-variant="primary">
            Legg til brukarstad
        </button>

        <a th:href="@{/}"
           class="ds-button display-flex"
           type="button"
           data-variant="secondary"
           data-color="danger">
            Avbryt
        </a>
    </div>
</form>

<form th:fragment="make_create_form_fragment"
      id="create_form"
      th:object="${createFormAttr}"
      th:action="@{/create}"
      method="POST">
    <!--/*@thymesVar id="createFormAttr" type="no.idporten.eudiw.rp.admin.web.form.BaseCreateRelyingPartyForm"*/-->
    <div class="space-bottom-8">
        <div class="ds-card">
            <fieldset class="ds-fieldset"
                      data-size="sm">
                <legend class="ds-label"
                        data-weight="high">
                    Generelt
                </legend>

                <p class="ds-paragraph">
                    <label for="orgno_field"
                           data-weight="medium"
                           class="ds-label">
                        Org.nr.
                    </label>
                    <!--/*@thymesVar id="reporteeAuthorityAttr" type="no.idporten.eudiw.rp.admin.web.security.oidcusers.AuthorizedPartyAuthority"*/-->
                    <input disabled
                           id="orgno_field"
                           type="text"
                           placeholder="Org.nr."
                           class="ds-input"
                           th:value="${reporteeAuthorityAttr.orgno()}"
                    >
                </p>

                <p class="ds-paragraph">
                    <label for="trade_name_field"
                           class="ds-label">
                        Tenestenamn
                    </label>
                    <input id="trade_name_field"
                           th:field="*{tradeName}"
                           type="text"
                           placeholder="Tenestenamn"
                           class="ds-input"
                    >
                </p>
                <ul th:if="${#fields.hasErrors('tradeName')}">
                    <li th:each="error : ${#fields.errors('tradeName')}"
                        th:text="${error}"
                        class="ds-validation-message"></li>
                </ul>
            </fieldset>
        </div>

        <div th:replace="~{:: eaa_fields_fragment}"></div>

    </div>

    <div class="flex-container">
        <button type="submit"
                class="ds-button"
                data-variant="primary">
            Legg til brukarstad
        </button>

        <a th:href="@{/}"
           class="ds-button display-flex"
           type="button"
           data-variant="secondary"
           data-color="danger">
            Avbryt
        </a>
    </div>
</form>
