<form th:fragment="make_create_form_fragment(isAdmin)"
      id="create_form"
      th:object="${createFormAttr}"
      th:action="@{${isAdmin ? '/admin/create' : '/create'}}"
      method="POST">
    <!--/*@thymesVar id="createFormAttr" type="no.idporten.eudiw.rp.admin.web.form.admin.AdminCreateRelyingPartyForm"*/-->
    <div style="margin-bottom: 8px;">
    <div class="ds-card">
        <fieldset class="ds-fieldset"
                  data-size="sm">
            <legend class="ds-label"
                    data-weight="high">
                Generelt
            </legend>

            <p class="ds-paragraph">
                <label for="orgno_field"
                       data-weight="medium"
                       class="ds-label">
                    Org.nr.
                </label>
                <input id="orgno_field"
                       th:field="*{orgno}"
                       type="text"
                       placeholder="Org.nr."
                       class="ds-input"
                       th:disabled="${!isAdmin}"
                >
            </p>
            <ul th:if="${#fields.hasErrors('orgno')}">
                <li th:each="error : ${#fields.errors('orgno')}"
                    th:text="${error}"
                    class="ds-validation-message"></li>
            </ul>

            <p class="ds-paragraph">
                <label for="name_field"
                       class="ds-label">
                    Namn
                </label>
                <input id="name_field"
                       th:field="*{name}"
                       type="text"
                       placeholder="Namn"
                       class="ds-input"
                       th:disabled="${!isAdmin}"
                >
            </p>
            <ul th:if="${#fields.hasErrors('name')}">
                <li th:each="error : ${#fields.errors('name')}"
                    th:text="${error}"
                    class="ds-validation-message"></li>
            </ul>

            <p class="ds-paragraph">
                <label for="credential_issuer_field"
                       class="ds-label">
                    Credential issuer url
                </label>
                <input id="credential_issuer_field"
                       th:field="*{credentialIssuerUrl}"
                       type="text"
                       placeholder="Url til discovery-endepunktet. Eks: https://utsteder.test.eidas2sandkasse.net/.well-known/openid-credential-issuer"
                       class="ds-input"
                       th:disabled="${!isAdmin}"
                >
            </p>
            <ul th:if="${#fields.hasErrors('credentialIssuerUrl')}">
                <li th:each="error : ${#fields.errors('credentialIssuerUrl')}"
                    th:text="${error}"
                    class="ds-validation-message"></li>
            </ul>

            <p class="ds-paragraph">
                <label for="sector_field"
                       class="data-label">
                    Sektor
                </label>
                <select id="sector_field"
                        th:field="*{publicSector}"
                        class="ds-input"
                        th:disabled="${!isAdmin}">
                    <option value="true">Offentleg</option>
                    <option value="false">Privat</option>
                </select>
            </p>
        </fieldset>
    </div>

    <div class="ds-card">
        <fieldset class="ds-fieldset" data-size="sm">
            <legend class="ds-label"
                    data-weight="high">
                Vel roller
            </legend>
            <div class="ds-field" th:each="e : ${@relyingPartiesService.getValidEntitlements()}">
                <label th:for="|id-${e.entitlement}|" th:text="${e.displayName}"></label>
                <input th:id="|id-${e.entitlement}|"
                       type="checkbox"
                       class="ds-input"
                       name="entitlements"
                       th:value="${e.entitlement}"
                       th:checked="${#lists.contains(createFormAttr.getEntitlementValues(), e.entitlement)}"
                       th:disabled="${!isAdmin}"
                >
            </div>
        </fieldset>
        <ul th:if="${#fields.hasErrors('entitlements')}">
            <li th:each="error : ${#fields.errors('entitlements')}"
                th:text="${error}"
                class="ds-validation-message"></li>
        </ul>
    </div>

    <div class="ds-card">
        <fieldset class="ds-fieldset" data-size="sm">
            <legend class="ds-label"
                    data-weight="high">
                Vel bevistypar
            </legend>

            <div class="flex-container">
                <div>
                    <p class="ds-paragraph"
                       style="margin-bottom: 8px;">
                        Bevistypar lagt inn
                    </p>
                    <table class="ds-table"
                           data-border="true"
                           style="table-layout: fixed; word-wrap: break-word;">
                        <thead>
                        <tr>
                            <th>Bevistype</th>
                            <th>Føremål</th>
                            <th style="width: 4em;"></th>
                        </tr>
                        </thead>
                        <tbody id="eaa_container"></tbody>
                    </table>
                </div>

                <div>
                    <fieldset class="ds-fieldset">
                        <legend class="ds-legend">
                            Legg til ny bevistype
                        </legend>
                        <div style="margin-bottom: 8px;">
                            <label for="eaa_namespace_field"
                                   class="ds-label">
                                Bevistype
                            </label>
                            <input id="eaa_namespace_field"
                                   type="text"
                                   placeholder="Bevistype ..."
                                   class="ds-input">
                            <div id="eaa_namespace_error_msg"
                                 th:insert="~{fragments/general ::
                                                    generic_invalid_input_field_error_msg('EAA-namespace')}"
                                 style="display: none;"></div>

                            <label for="eaa_intent_field"
                                   class="ds-label">
                                Føremål
                            </label>
                            <input id="eaa_intent_field"
                                   type="text"
                                   placeholder="Føremål ..."
                                   class="ds-input">
                            <div id="eaa_intent_error_msg"
                                 th:insert="~{fragments/general ::
                                                    generic_invalid_input_field_error_msg('EAA-intent')}"
                                 style="display: none;"></div>
                        </div>
                        <button type="button"
                                onclick="addEaaOnclick()"
                                class="ds-button"
                                data-variant="secondary">
                            Legg til
                        </button>
                    </fieldset>
                </div>

            </div>
        </fieldset>
    </div>
    </div>

    <div class="flex-container">
        <button type="submit"
                class="ds-button"
                data-variant="primary">
            Legg til brukarstad
        </button>

        <a th:href="@{/}"
           class="ds-button"
           type="button"
           data-variant="secondary"
           data-color="danger"
           style="display: flex;">
            Avbryt
        </a>
    </div>

<script src="/js/dynamic_edit_form_fields.js"></script>

<!--/* pre-fill EAA list with values from the create form. this can be non-empty
       if e.g. the page is reloaded after a form validation error. */-->
<th:block th:each="eaa : ${createFormAttr.getEaas()}">
    <script>addEaa("[[${eaa.namespace}]]", "[[${eaa.intent}]]");</script>
</th:block>
</form>
