<form th:fragment="create_form_fragment"
      id="create_form"
      th:object="${createFormAttr}"
      th:action="@{/create}"
      method="POST">
    <!--/*@thymesVar id="createFormAttr" type="no.idporten.eudiw.rp.admin.web.form.RelyingPartyCreateForm"*/-->

    <div style="margin-bottom: 8px;">
    <div class="ds-card">
        <fieldset class="ds-fieldset"
                  data-size="sm">
            <legend class="ds-label"
                    data-weight="high">
                Generelt
            </legend>

            <p class="ds-paragraph">
                <label for="orgno_field"
                       data-weight="medium"
                       class="ds-label">
                    Org.nr.
                </label>
                <input id="orgno_field"
                       th:field="*{orgno}"
                       type="text"
                       placeholder="Org.nr."
                       class="ds-input">
            </p>
            <ul th:if="${#fields.hasErrors('orgno')}">
                <li th:each="error : ${#fields.errors('orgno')}"
                    th:text="${error}"
                    class="ds-validation-message"></li>
            </ul>

            <p class="ds-paragraph">
                <label for="name_field"
                       class="ds-label">
                    Navn
                </label>
                <input id="name_field"
                       th:field="*{name}"
                       type="text"
                       placeholder="Navn"
                       class="ds-input">
            </p>
            <ul th:if="${#fields.hasErrors('name')}">
                <li th:each="error : ${#fields.errors('name')}"
                    th:text="${error}"
                    class="ds-validation-message"></li>
            </ul>

            <p class="ds-paragraph">
                <label for="sector_field"
                       class="data-label">
                    Sektor
                </label>
                <select id="sector_field"
                        th:field="*{publicSector}"
                        class="ds-input">
                    <option value="true">Offentlig</option>
                    <option value="false">Privat</option>
                </select>
            </p>
        </fieldset>
    </div>

    <div class="ds-card">
        <fieldset class="ds-fieldset" data-size="sm">
            <legend class="ds-label"
                    data-weight="high">
                Velg rettigheter for brukerstedet
            </legend>
            <div class="ds-field" th:each="option : ${T(no.idporten.eudiw.rp.admin.data.RelyingPartyEntitlement).values()}">
                <label th:for="|id-${option.desc}|" th:text="${option.desc}"></label>
                <input th:id="|id-${option.desc}|"
                       type="checkbox"
                       class="ds-input"
                       name="entitlements"
                       th:value="${option.uri}"
                       th:checked="${#lists.contains(createFormAttr.getEntitlements(), option.toFormField())}">
            </div>
        </fieldset>
        <ul th:if="${#fields.hasErrors('entitlements')}">
            <li th:each="error : ${#fields.errors('entitlements')}"
                th:text="${error}"
                class="ds-validation-message"></li>
        </ul>
    </div>

    <div class="ds-card">
        <fieldset class="ds-fieldset" data-size="sm">
            <legend class="ds-label"
                    data-weight="high">
                Velg EAA'ere for brukersted
            </legend>

            <div class="flex-container">
                <div>
                    <p class="ds-paragraph"
                       style="margin-bottom: 8px;">
                        Valgte EAA'ere
                    </p>
                    <table class="ds-table"
                           data-border="true"
                           style="table-layout: fixed; word-wrap: break-word;">
                        <thead>
                        <tr>
                            <th>Namespace</th>
                            <th>Intent</th>
                            <th style="width: 4em;"></th>
                        </tr>
                        </thead>
                        <tbody id="eaa_container"></tbody>
                    </table>
                </div>

                <div>
                    <fieldset class="ds-fieldset">
                        <legend class="ds-legend">
                            Legg til ny EAA
                        </legend>
                        <div style="margin-bottom: 8px;">
                            <label for="eaa_namespace_field"
                                   class="ds-label">
                                Namespace
                            </label>
                            <input id="eaa_namespace_field"
                                   type="text"
                                   placeholder="Namespace ..."
                                   class="ds-input">
                            <div id="eaa_namespace_error_msg"
                                 th:insert="~{fragments/general ::
                                                    generic_invalid_input_field_error_msg('EAA-namespace')}"
                                 style="display: none;"></div>

                            <label for="eaa_intent_field"
                                   class="ds-label">
                                Intent
                            </label>
                            <input id="eaa_intent_field"
                                   type="text"
                                   placeholder="Intent ..."
                                   class="ds-input">
                            <div id="eaa_intent_error_msg"
                                 th:insert="~{fragments/general ::
                                                    generic_invalid_input_field_error_msg('EAA-intent')}"
                                 style="display: none;"></div>
                        </div>
                        <button type="button"
                                onclick="addEaaOnclick()"
                                class="ds-button"
                                data-variant="secondary">
                            Legg til
                        </button>
                    </fieldset>
                </div>

            </div>
        </fieldset>
    </div>
    </div>

    <div class="flex-container">
        <button type="submit"
                class="ds-button"
                data-variant="primary">
            Registrer brukersted
        </button>

        <a th:href="@{/search}"
           class="ds-button"
           type="button"
           data-variant="secondary"
           data-color="danger">
            Avbryt
        </a>
    </div>

<script src="/js/dynamic_edit_form_fields.js"></script>

<!--/* pre-fill EAA list with values from the create form. this can be non-empty
       if e.g. the page is reloaded after a form validation error. */-->
<th:block th:each="eaa : ${createFormAttr.getEaas()}">
    <script>addEaa("[[${eaa.namespace}]]", "[[${eaa.intent}]]");</script>
</th:block>
</form>
