<!--/*@thymesVar id="csrFormAttr" type="no.idporten.eudiw.rp.admin.web.form.CsrAccessForm"*/-->
<form th:fragment="access_csr_form_fragment(id)"
      th:object="${csrFormAttr}"
      th:action="@{|/csr/access/${id}|}"
      method="POST">

    <fieldset class="ds-fieldset"
              style="margin-bottom: 8px;">
        <div style="display: flex; flex-direction: column;">
            <label id="csr_form_label"
                   for="csr_form"
                   class="ds-label"
                   data-weight="medium">
                Lim inn gyldig CSR
            </label>
            <textarea id="csr_form"
                      th:field="*{csrField}"
                      th:type="text"
                      class="ds-input"
                      style="width: 40em; min-height: 5em;"
                      placeholder="PEM-innkoda PKCS10 CSR">
            </textarea>
        </div>

        <div th:if="${#fields.hasErrors('csrField')}"
             class="ds-validation-message">
            Lagt inn CSR er ikkje et gyldig CSR.
        </div>

    </fieldset>

    <button type="submit"
            class="ds-button">
        Send CSR
    </button>
</form>

<!--/*@thymesVar id="csrFormAttr" type="no.idporten.eudiw.rp.admin.web.form.CsrIssuerForm"*/-->
<!--/*@thymesVar id="detailedViewDataAttr" type="no.idporten.eudiw.rp.admin.web.resource.RelyingPartyResource"*/-->
<form th:fragment="issuer_csr_form_fragment(id)"
      th:object="${csrFormAttr}"
      th:action="@{|/csr/issuer/${id}|}"
      method="POST">

    <fieldset
            th:if="${rp.relyingPartyEntitlements != null and !#lists.isEmpty(rp.relyingPartyEntitlements)}"
            class="ds-fieldset"
            style="margin-bottom: 1.5rem;"
    >
        <legend class="ds-label"
                data-weight="high">
            Vel rolle
        </legend>

        <div th:each="e, iter : ${rp.relyingPartyEntitlements}" class="ds-field">
            <input
                    class="ds-input"
                    type="radio"
                    th:field="*{entitlement}"
                    th:id="${'entitlement-' + iter.index}"
                    th:value="${e.entitlement}" />
            <label class="ds-label" th:for="${'entitlement-' + iter.index}" th:text="${e.entitlement}"></label>
        </div>
    </fieldset>

    <fieldset class="ds-fieldset"
              style="margin-bottom: 8px;">
        <div style="display: flex; flex-direction: column;">
            <label id="csr_form_label"
                   for="csr_form"
                   class="ds-label"
                   data-weight="medium">
                Lim inn gyldig CSR
            </label>
            <textarea id="csr_form"
                      th:field="*{csrField}"
                      th:type="text"
                      class="ds-input"
                      style="width: 40em; min-height: 5em;"
                      placeholder="PEM-innkoda PKCS10 CSR">
            </textarea>
        </div>

        <div th:if="${#fields.hasErrors('csrField')}"
             class="ds-validation-message">
            Lagt inn CSR er ikkje et gyldig CSR.
        </div>

    </fieldset>

    <button type="submit"
            class="ds-button">
        Send CSR
    </button>
</form>

<table th:fragment="single_certificate_table_fragment(cert)"
       class="ds-table">
    <!--/*@thymesVar id="cert" type="no.idporten.eudiw.rp.admin.web.search.resultsview.RelyingPartyAccessCertificateSummary"*/-->
    <tbody>
    <tr>
        <th>Serienummer</th>
        <td th:text="${cert.serialNo.toString(16).replaceAll('(?<=..)(..)', ':$1')}"></td>
    </tr>
    <tr>
        <th>Subjekt</th>
        <td th:text="${cert.subjectDn}"></td>
    </tr>
    <tr>
        <th>Utstedar</th>
        <td th:text="${cert.issuerDn}"></td>
    </tr>
    <tr>
        <th>Gyldig frå</th>
        <td th:text="${@timestampFormatter.formatEpochMillis(cert.validFromMs)}"></td>
    </tr>
    <tr>
        <th>Gyldig til</th>
        <td th:text="${@timestampFormatter.formatEpochMillis(cert.validUntilMs)}"></td>
    </tr>
    </tbody>
</table>
