<!--/*@thymesVar id="csrFormAttr" type="no.idporten.eudiw.rp.admin.web.resource.accesscertificates.CsrForm"*/-->
<form th:fragment="csr_form_fragment(id)"
      th:object="${csrFormAttr}"
      th:action="@{/registerCsr(id=${id})}"
      method="POST">

    <fieldset class="ds-fieldset"
              style="margin-bottom: 8px;">
        <div style="display: flex; flex-direction: column;">
            <label id="csr_form_label"
                   for="csr_form"
                   class="ds-label"
                   data-weight="medium">
                Lim inn gjyldig CSR
            </label>
            <textarea id="csr_form"
                      th:field="*{csr}"
                      th:type="text"
                      class="ds-input"
                      style="width: 40em; min-height: 5em;"
                      placeholder="Pem-enkodet PKCS10 CSR">
            </textarea>
        </div>

        <div th:if="${#fields.hasErrors('csr')}"
             class="ds-validation-message">
            Det gitt CSR er ikkje et gyldig CSR.
        </div>

    </fieldset>

    <button type="submit"
            class="ds-button">
        Send CSR
    </button>
</form>

<table th:fragment="single_certificate_table_fragment(cert)"
       class="ds-table">
    <!--/*@thymesVar id="cert" type="no.idporten.eudiw.rp.admin.web.search.resultsview.RelyingPartyAccessCertificateSummary"*/-->
    <tbody>
    <tr>
        <th>Serienummer</th>
        <td th:text="${cert.serialNo}"></td>
    </tr>
    <tr>
        <th>Subjekt</th>
        <td th:text="${cert.subjectDn}"></td>
    </tr>
    <tr>
        <th>Utsteder</th>
        <td th:text="${cert.issuerDn}"></td>
    </tr>
    <tr>
        <th>Gjyldig fra</th>
        <td th:text="${#dates.format(cert.validFromMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
    </tr>
    <tr>
        <th>Gjyldig til</th>
        <td th:text="${#dates.format(cert.validUntilMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>
