<div th:fragment="certificates_content_fragment(rp, certs)">
    <div style="padding-bottom: 2em;">
        <div th:if="${ #lists.isEmpty(certs)}">
            <em>
                Ingen registrerte aksess-sertifikater for <span th:text="${rp.name}"></span>.
            </em>
        </div>

        <div th:unless="${ #lists.isEmpty(certs)}">
            <table class="ds-table">
                <thead>
                    <tr>
                        <th>Serienummer</th>
                        <th>Navn</th>
                        <th>Gjyldig fra</th>
                        <th>Gjyldig til</th>
                    </tr>
                </thead>
                <tbody>
                    <!--/*@thymesVar id="cert" type="no.idporten.eudiw.rp.admin.web.search.resultsview.RelyingPartyAccessCertificateSummary"*/-->
                    <tr th:each="cert : ${certs}">
                        <td th:text="${cert.serialNo}"></td>
                        <td th:text="${cert.subjectDn}"></td>
                        <td th:text="${#dates.format(cert.validFromMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
                        <td th:text="${#dates.format(cert.validUntilMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <a th:href="@{/registerCsr(id=${rp.id})}"
           class="ds-button"
           data-variant="primary">
            Registrer nyt sertifikat
        </a>
    </div>
</div>

<!--/*@thymesVar id="rp" type="no.idporten.eudiw.rp.admin.web.resource.RelyingPartyResource"*/-->
<div th:fragment="general_info_content_fragment(rp)">
    <div style="padding-bottom: 2em;">
        <table class="ds-table">
            <tbody>
            <tr>
                <th>Org.nr.</th>
                <td th:text="${rp.orgno}"></td>
            </tr>
            <tr>
                <th>Navn</th>
                <td th:text="${rp.name}"></td>
            </tr>
            <tr>
                <th>Sektor</th>
                <td th:text="${rp.publicSector ? 'offentlig' : 'privat'}"></td>
            </tr>
            <tr>
                <th>Opprettet</th>
                <td th:text="${#dates.format(rp.createdMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
            </tr>
            <tr>
                <th>Sidst oppdatert</th>
                <td th:text="${#dates.format(rp.lastUpdatedMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
            </tr>
            <tr>
                <th>Aktiv</th>
                <td th:text="${rp.active ? 'ja' : 'nej'}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="padding-bottom: 2em;">
        <h2 class="ds-heading">Ekstra</h2>

        <details class="ds-details" data-variant="default">
            <summary>Registrerte rettigheter</summary>

            <div th:if="${ #lists.isEmpty(rp.relyingPartyEntitlements)}">
                <em>Ingen registrerte rettigheter for <span th:text="${rp.name}"></span>.</em>
            </div>
            <div th:unless="${ #lists.isEmpty(rp.relyingPartyEntitlements)}">
                <table class="ds-table" data-sticky-header="true">
                    <thead>
                        <tr><th>Rettighet</th></tr>
                    </thead>
                    <tbody>
                        <tr th:each="ent : ${rp.relyingPartyEntitlements}">
                            <td th:text="${ent.entitlement}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>

        <details class="ds-details">
            <summary>EAA'ere</summary>
            <div th:if="${ #lists.isEmpty(rp.relyingPartyEaas)}">
                <em>Ingen registrerte EAA'ere.</em>
            </div>
            <div th:unless="${ #lists.isEmpty(rp.relyingPartyEaas)}">
                <table class="ds-table" data-sticky-header="true">
                    <thead>
                        <tr>
                            <th>Namespace</th>
                            <th>Intent</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="eaa : ${rp.relyingPartyEaas}">
                        <td th:text="${eaa.namespace}"></td>
                        <td th:text="${eaa.intent}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </details>
    </div>

    <div>
        <a th:href="@{details/edit(id=${rp.id})}"
           class="ds-button"
           data-variant="primary">
            Rediger brukersted
        </a>
    </div>
</div>
