<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nb-no">
<head>
    <title>Detailed view fragments</title>
</head>
<body>

<div th:fragment="detailed_view(rp)">

    <h3 th:text="${rp.name}"></h3>
    <div>
        <table>
            <tbody>
            <tr>
                <th>Org.nr.</th>
                <td th:text="${rp.orgno}"></td>
            </tr>
            <tr>
                <th>Navn</th>
                <td th:text="${rp.name}"></td>
            </tr>
            <tr>
                <th>Sektor</th>
                <td th:text="${rp.publicSector ? 'offentlig' : 'privat'}"></td>
            </tr>
            <tr>
                <th>Opprettet</th>
                <td th:text="${#dates.format(rp.createdMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
            </tr>
            <tr>
                <th>Sidst oppdatert</th>
                <td th:text="${#dates.format(rp.lastUpdatedMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
            </tr>
            <tr>
                <th>Aktiv</th>
                <td th:text="${rp.active ? 'ja' : 'nej'}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3>Informasjoner brukerstadet har rettighet til</h3>
    <div th:unless="${ #lists.isEmpty(rp.relyingPartyEntitlements)}">
        <div>
            <table>
                <thead>
                <tr><th>Rettighet</th></tr>
                </thead>
                <tbody>
                <tr th:each="ent : ${rp.relyingPartyEntitlements}">
                    <td th:text="${ent.entitlement}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h3>EAA'ere</h3>
    <div th:unless="${ #lists.isEmpty(rp.relyingPartyEaas)}">
        <div>
            <table>
                <thead>
                <tr>
                    <th>Namespace</th>
                    <th>Intent</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="eaa : ${rp.relyingPartyEaas}">
                    <td th:text="${eaa.namespace}"></td>
                    <td th:text="${eaa.intent}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>
