<div th:fragment="eaa_fields_fragment"
     class="ds-card">
    <fieldset class="ds-fieldset space-bottom-2em"
              data-size="sm">
        <legend class="ds-label"
                data-weight="high">
            Endre bevistypar
        </legend>

        <div class="flex-container">
            <div>
                <p class="ds-paragraph space-bottom-8">
                    Bevistypar lagt inn
                </p>
                <table class="ds-table fixed-break-table"
                       data-border="true">
                    <thead>
                    <tr>
                        <th>Bevistype</th>
                        <th>Føremål</th>
                        <th class="narrow-cell"></th>
                    </tr>
                    </thead>
                    <tbody id="eaa_container"></tbody>
                </table>
            </div>

            <div>
                <fieldset class="ds-fieldset">
                    <legend class="ds-legend">
                        Legg til ny bevistype
                    </legend>
                    <div class="space-bottom-8">

                        <label for="eaa_namespace_field"
                               class="ds-label">
                            Bevistype
                        </label>
                        <input id="eaa_namespace_field"
                               type="text"
                               placeholder="Bevistype ..."
                               class="ds-input">
                        <div id="eaa_namespace_error_msg"
                             th:insert="~{fragments/general ::
                                            generic_invalid_input_field_error_msg('EAA-namespace')}"
                             class="display-none"></div>

                        <label for="eaa_intent_field"
                               class="ds-label">
                            Føremål
                        </label>
                        <input id="eaa_intent_field"
                               type="text"
                               placeholder="Føremål ..."
                               class="ds-input">
                        <div id="eaa_intent_error_msg"
                             th:insert="~{fragments/general ::
                                            generic_invalid_input_field_error_msg('EAA-intent')}"
                             class="display-none"></div>
                    </div>
                    <button type="button"
                            class="ds-button"
                            data-variant="secondary"
                            id="eaa-add">
                        Legg til
                    </button>
                </fieldset>
            </div>

        </div>
    </fieldset>
    <script src="/js/dynamic_edit_form_fields.js"></script>
    <!--/* pre-fill EAA list with values from the RP to be edited */-->
    <div hidden
         id="eaa_prefill"
         th:each="eaa : ${editFormAttr.getEaas()}"
         th:attr="data-namespace=${eaa.namespace},data-intent=${eaa.intent}"></div>
</div>

<th:block th:fragment="shared_general_fields_fragment">
    <p class="ds-paragraph">
        <label for="orgno_field"
               data-weight="medium"
               class="ds-label">
            Org.nr.
        </label>
        <input disabled
               id="orgno_field"
               th:value="${rp.orgno}"
               class="ds-input">
    </p>

    <p class="ds-paragraph">
        <label for="org_name_field"
               class="ds-label">
            Organisasjon
        </label>
        <input disabled
               id="org_name_field"
               th:value="${rp.orgName}"
               type="text"
               class="ds-input">
    </p>

    <p class="ds-paragraph">
        <label for="trade_name_field"
               class="ds-label">
            Tenestenamn
        </label>
        <input id="trade_name_field"
               th:field="*{tradeName}"
               type="text"
               placeholder="Tenestenamn"
               class="ds-input">
    </p>
    <ul th:if="${#fields.hasErrors('tradeName')}">
        <li th:each="error : ${#fields.errors('tradeName')}"
            th:text="${error}"
            class="ds-validation-message"></li>
    </ul>

    <p class="ds-paragraph">
        <label for="sector_field"
               class="data-label">
            Sektor
        </label>
        <select disabled
                id="sector_field"
                class="ds-input">
            <option th:text="${rp.publicSector() ? 'Offentleg' : 'Privat'}">
            </option>
        </select>
    </p>
</th:block>

<form th:fragment="make_edit_form_fragment"
      id="edit_form"
      th:object="${editFormAttr}"
      th:action="@{/edit/{id}(id=${rp.id})}"
      method="POST">
    <!--/*@thymesVar id="rp" type="no.idporten.eudiw.rp.admin.web.resource.RelyingPartyResource"*/-->
    <!--/*@thymesVar id="editFormAttr" type="no.idporten.eudiw.rp.admin.web.form.admin.AdminEditRelyingPartyForm"*/-->
    <div class="space-bottom-8">
        <div class="ds-card">
            <fieldset class="ds-fieldset"
                      data-size="sm">
                <legend class="ds-label"
                        data-weight="high">
                    Generelt
                </legend>

                <th:block th:replace="~{:: shared_general_fields_fragment}"></th:block>

                <p class="ds-paragraph">
                    <label for="active_field"
                           class="ds-label">
                        Aktiv
                    </label>
                    <input disabled
                           id="active_field"
                           type="checkbox"
                           th:checked="${rp.active}"
                           class="ds-input">
                </p>
            </fieldset>
        </div>

        <div class="ds-card">
            <fieldset class="ds-fieldset" data-size="sm">
                <legend class="ds-label"
                        data-weight="high">
                    Endre roller for brukarstad
                </legend>

                <table class="ds-table">
                    <thead>
                    <tr>
                        <th>Rolle</th>
                        <th>Utstedar-URL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="entitlementOptionsAttr" type="java.util.List<no.idporten.eudiw.rp.admin.web.form.RelyingPartyEntitlementFormField>"*/-->
                    <tr th:each="e, iter : ${entitlementOptionsAttr}">
                        <!--/*@thymesVar id="e" type="no.idporten.eudiw.rp.admin.web.form.RelyingPartyEntitlementFormField"*/-->
                        <td>
                            <input hidden
                                   th:id="|id-${e.getEntitlement()}|"
                                   th:name="|entitlements[${iter.index}].entitlement|"
                                   th:value="${e.getEntitlement()}">
                            <label th:for="|id-${e.getEntitlement()}|" th:text="${e.getDisplayName()}"></label>
                        </td>
                        <td>
                            <input type="text"
                                   class="ds-input"
                                   th:name="|entitlements[${iter.index}].credentialIssuerUrl|"
                                   th:value="${e.getCredentialIssuerUrl()}"
                                   th:disabled="${! T(no.idporten.eudiw.rp.admin.entitlements.Entitlements)
                                                            .isIssuerEntitlement(e.getEntitlement())}"
                            >
                            <ul th:if="${iter.index < editFormAttr.getEntitlements().size() &&
                                           #fields.hasErrors('entitlements[__${iter.index}__].credentialIssuerUrl')}"
                                class="ds-list">
                                <li th:each="error : ${#fields.errors('entitlements[__${iter.index}__].credentialIssuerUrl')}"
                                    th:text="${error}"
                                    class="ds-validation-message">
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>

        <div th:replace="~{:: eaa_fields_fragment}"></div>

    </div>

    <div class="flex-container">
        <button type="submit"
                class="ds-button"
                data-variant="primary">
            Lagre endringar
        </button>

        <a th:href="@{|/details/${rp.id}|}"
           class="ds-button display-flex"
           type="button"
           data-variant="secondary"
           data-color="danger">
            Avbryt
        </a>
    </div>
</form>

<form th:fragment="make_admin_edit_form_fragment"
      id="admin_edit_form"
      th:object="${editFormAttr}"
      th:action="@{/admin/edit/{id}(id=${rp.id})}"
      method="POST">
    <!--/*@thymesVar id="editFormAttr" type="no.idporten.eudiw.rp.admin.web.form.admin.AdminCreateRelyingPartyForm"*/-->
    <div class="space-bottom-8">
        <div class="ds-card">
            <fieldset class="ds-fieldset"
                      data-size="sm">
                <legend class="ds-label"
                        data-weight="high">
                    Generelt
                </legend>

                <th:block th:replace="~{:: shared_general_fields_fragment}"></th:block>

                <p class="ds-paragraph">
                    <label for="active_field"
                           class="ds-label">
                        Aktiv
                    </label>
                    <input id="active_field"
                           type="checkbox"
                           th:field="*{active}"
                           class="ds-input">

                </p>
            </fieldset>
        </div>

        <div class="ds-card">
            <fieldset class="ds-fieldset" data-size="sm">
                <legend class="ds-label"
                        data-weight="high">
                    Endre roller for brukarstad
                </legend>

                <table class="ds-table">
                    <thead>
                    <tr>
                        <th>Valt</th>
                        <th>Rolle</th>
                        <th>Utstedar-URL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="entitlementOptionsAttr" type="java.util.List<no.idporten.eudiw.rp.admin.web.form.RelyingPartyEntitlementFormField>"*/-->
                    <tr th:each="e, iter : ${entitlementOptionsAttr}">
                        <!--/*@thymesVar id="e" type="no.idporten.eudiw.rp.admin.web.form.RelyingPartyEntitlementFormField"*/-->
                        <td>
                            <input th:id="|id-${e.getEntitlement()}|"
                                   type="checkbox"
                                   class="ds-input"
                                   th:name="|entitlements[${iter.index}].entitlement|"
                                   th:value="${e.getEntitlement()}"
                                   th:checked="${#lists.contains(editFormAttr.getEntitlementValues(), e.getEntitlement())}">
                        </td>
                        <td>
                            <label th:for="|id-${e.getEntitlement()}|" th:text="${e.getDisplayName()}"></label>
                        </td>
                        <td>
                            <input type="text"
                                   class="ds-input"
                                   th:name="|entitlements[${iter.index}].credentialIssuerUrl|"
                                   th:value="${e.getCredentialIssuerUrl()}"
                                   th:disabled="${! T(no.idporten.eudiw.rp.admin.entitlements.Entitlements)
                                                            .isIssuerEntitlement(e.getEntitlement())}"
                            >
                            <ul th:if="${iter.index < editFormAttr.getEntitlements().size() &&
                                           #fields.hasErrors('entitlements[__${iter.index}__].credentialIssuerUrl')}"
                                class="ds-list">
                                <li th:each="error : ${#fields.errors('entitlements[__${iter.index}__].credentialIssuerUrl')}"
                                    th:text="${error}"
                                    class="ds-validation-message">
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
            <ul th:if="${#fields.hasErrors('entitlements')}">
                <li th:each="error : ${#fields.errors('entitlements')}"
                    th:text="${error}"
                    class="ds-validation-message"></li>
            </ul>
        </div>

        <div th:replace="~{:: eaa_fields_fragment}"></div>
    </div>

    <div class="flex-container">
        <button type="submit"
                class="ds-button"
                data-variant="primary">
            Lagre endringar
        </button>

        <a th:href="@{|/details/${rp.id}|}"
           class="ds-button display-flex"
           type="button"
           data-variant="secondary"
           data-color="danger">
            Avbryt
        </a>
    </div>
</form>
