<!--/*@thymesVar id="searchFormAttr" type="no.idporten.eudiw.rp.admin.web.form.SearchForm"*/-->
<form th:fragment="search_form_fragment"
      th:object="${searchFormAttr}"
      th:action="@{/search}"
      method="POST">
    <div class="space-bottom-1em">
    <div class="ds-search space-block-end-2">
        <input id="search_term"
               th:field="*{searchTerm}"
               placeholder="Søk på org.nr. eller namn"
               size="50"
               type="text"
               class="ds-input">
        <button type="submit"
                class="ds-button"
                data-variant="primary">Søk</button>
    </div>

    <label for="includeInactive">Ta med inaktive</label>
    <input id="includeInactive"
           type="checkbox"
           th:field="*{includeInactive}"
           class="ds-input">

    <ul th:if="${#fields.hasErrors()}">
        <li th:each="error : ${#fields.errors('searchTerm')}"
            th:text="${error}"
            class="ds-validation-message"></li>
    </ul>
    </div>

    <details class="ds-details fit-width"
             th:open="${!#lists.isEmpty(searchFormAttr.getRequiredEntitlements())}">
        <summary>Filter</summary>
        <fieldset class="ds-fieldset">
            <legend>
                Rolle
            </legend>
            <div class="ds-field" th:each="e : ${@relyingPartiesService.getValidEntitlementOptions()}">
                <label th:for="|id-${e.getEntitlement()}|" th:text="${e.getDisplayName()}"></label>
                <input th:id="|id-${e.getEntitlement()}|"
                       type="checkbox"
                       class="ds-input"
                       name="requiredEntitlements"
                       th:value="${e.getEntitlement()}"
                       th:checked="${#lists.contains(searchFormAttr.getRequiredEntitlements(), e.entitlement)}">
            </div>
        </fieldset>
    </details>
</form>

<div th:fragment="results_table_fragment">
    <div th:with="resultsPage=${resultsPageAttr}">
        <div th:if="${#lists.isEmpty(resultsPage)}">
            Fann ingen brukarstader.
        </div>

        <table th:unless="${#lists.isEmpty(resultsPage)}"
               class="ds-table"
               data-border="true"
               th:with="currentOrdering=${@searchSession.getOrdering()},
                        orderingOpts=${T(no.idporten.eudiw.rp.admin.web.resource.RelyingPartyOrdering)}"
        >
            <thead class="clickableHeaders">
            <tr>
                <th th:class="${currentOrdering == orderingOpts.ORGNO_ASC ? 'focused' : ''}">
                    <a th:href="@{search(sort=|${orderingOpts.ORGNO_ASC}|)}" class="ds-link">
                        Org.nr.
                    </a>
                </th>
                <th>Organisasjon</th>
                <th th:class="${currentOrdering == orderingOpts.NAME_ASC ? 'focused' : ''}">
                    <a th:href="@{search(sort=|${orderingOpts.NAME_ASC}|)}" class="ds-link">
                        Tenestenamn
                    </a>
                </th>
                <th>Roller</th>
                <th th:class="${currentOrdering == orderingOpts.CREATED_ASC ? 'focused' : ''}">
                    <a th:href="@{search(sort=|${orderingOpts.CREATED_ASC}|)}" class="ds-link">
                        Oppretta
                    </a>
                </th>
                <th th:class="${currentOrdering == orderingOpts.LAST_UPDATED_ASC ? 'focused' : ''}">
                    <a th:href="@{search(sort=|${orderingOpts.LAST_UPDATED_ASC}|)}" class="ds-link">
                        Sist endra
                    </a>
                </th>
                <th>Access-sertifikat</th>
                <th>Issuer-sertifikat</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="rp : ${resultsPage}">
                <td th:text="${rp.orgno}"></td>
                <td th:text="${rp.orgName}"></td>
                <td>
                    <a th:href="@{|/details/${rp.id}|}" class="clickable-link">
                        <div th:text="${rp.tradeName}"></div>
                    </a>
                </td>
                <td>
                    <div th:each="e : ${rp.relyingPartyEntitlements()}"
                         th:text="${e.displayName()}"
                         class="display-block"></div>
                </td>
                <td th:text="${@timestampFormatter.formatEpochMillis(rp.createdMs)}"></td>
                <td th:text="${@timestampFormatter.formatEpochMillis(rp.lastUpdatedMs)}"></td>
                <td th:text="${rp.accessCertificates().size()}"></td>
                <td th:text="${rp.issuerCertificates().size()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav th:with="pageWindow=${@searchSession.getPaginationWindow()},
                  currentPageNum=${@searchSession.getCurrentPageIdx() + 1},
                  numPages=${@searchSession.getNumPages()}"
         class="ds-pagination"
    >
        <ul th:if="${numPages > 1}">
            <li th:unless="${#lists.contains(pageWindow, 1)}">
                <a th:href="@{search(page=1)}"
                   class="ds-button"
                   data-variant="tertiary">
                    <<
                </a>
            </li>

            <li th:each="pageNum : ${pageWindow}">

                <a th:if="${pageNum == currentPageNum}"
                   th:href="@{search(page=${pageNum})}"
                   class="ds-button"
                   data-variant="primary">
                    <span th:text="${pageNum}"></span>
                </a>
                <a th:unless="${pageNum == currentPageNum}"
                   th:href="@{search(page=${pageNum})}"
                   class="ds-button"
                   data-variant="tertiary">
                    <span th:text="${pageNum}"></span>
                </a>
            </li>

            <li th:unless="${#lists.contains(pageWindow, numPages)}">
                <a th:href="@{search(page=${numPages})}"
                   class="ds-button"
                   data-variant="tertiary">
                    >>
                </a>
            </li>
        </ul>
    </nav>
</div>
