<!--/*@thymesVar id="searchFormAttr" type="no.idporten.eudiw.rp.admin.web.resource.SearchForm"*/-->
<form th:fragment="search_form_fragment"
      th:object="${searchFormAttr}"
      th:action="@{/search}"
      method="GET"
>
    <div class="search-form-row">
        <label for="search_term"></label>
        <input id="search_term" type="text" size="60"
               th:field="*{searchTerm}"
               placeholder="Søk på org.nr. eller navn">

        <label for="includeInactive">Inkluder inaktive</label>
        <input id="includeInactive" type="checkbox" th:field="*{includeInactive}">

        <button type="submit">Søk</button>
    </div>

    <ul th:if="${#fields.hasErrors()}">
        <li th:each="error : ${#fields.errors('searchTerm')}"
            th:text="${error}">
        </li>
    </ul>
</form>

<div th:fragment="results_table_fragment">
    <h2>Søkeresultat</h2>
    <!--/*@thymesVar id="full_results" type="no.idporten.eudiw.rp.admin.web.search.resultsview.RelyingPartiesView"*/-->
    <!--/*@thymesVar id="sorted_and_filtered_results" type="java.util.List<no.idporten.eudiw.rp.admin.web.resource.RelyingPartyResource>"*/-->
    <div th:with="sorted_and_filtered_results=${@relyingPartiesView.applyViewSpec()}">
        <table>
            <thead>
            <tr>
                <th>
                    <label>Org.nr.</label>
                </th>
                <th>
                    <label>Navn</label>
                </th>
                <th>
                    <label>Oppretta</label>
                </th>
                <th>
                    <label>Sist oppdatert</label>
                </th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${#lists.isEmpty(sorted_and_filtered_results)}">
                <td th:colspan="4">
                    Fant ingen brukerstader!
                </td>
            </tr>
            <tr th:each="rp : ${sorted_and_filtered_results}">
                <td><a th:href="@{/details(id=${rp.id})}" style="cursor:pointer;"><div th:text="${rp.orgno}"></div></a> </td>
                <td th:text="${rp.name}"></td>
                <td th:text="${#dates.format(rp.createdMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${#dates.format(rp.lastUpdatedMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
