<!--/*@thymesVar id="searchFormAttr" type="no.idporten.eudiw.rp.admin.web.resource.SearchForm"*/-->
<form th:fragment="search_form_fragment"
      th:object="${searchFormAttr}"
      th:action="@{/search}"
      method="GET">
        <div class="ds-search"
             style="margin-block-end: var(--ds-size-2)">
            <input id="search_term"
                   th:field="*{searchTerm}"
                   placeholder="Søk på org.nr. eller navn"
                   size="50"
                   type="text"
                   class="ds-input">
            <button type="reset"
                    class="ds-button"
                    data-icon="true"
                    data-variant="tertiary"
            ></button>
            <button type="submit"
                    class="ds-button"
                    data-variant="primary">Søk</button>
        </div>

        <label for="includeInactive">Inkluder inaktive</label>

        <input id="includeInactive"
               type="checkbox"
               th:field="*{includeInactive}"
               class="ds-input">

    <ul th:if="${#fields.hasErrors()}">
        <li th:each="error : ${#fields.errors('searchTerm')}"
            th:text="${error}"
            class="ds-validation-message"></li>
    </ul>
</form>

<div th:fragment="results_table_fragment">
    <h2 class="ds-heading">
        Søkeresultat
    </h2>
    <!--/*@thymesVar id="full_results" type="no.idporten.eudiw.rp.admin.web.search.resultsview.RelyingPartiesView"*/-->
    <!--/*@thymesVar id="sorted_and_filtered_results" type="java.util.List<no.idporten.eudiw.rp.admin.web.resource.RelyingPartyResource>"*/-->
    <div th:with="sorted_and_filtered_results=${@relyingPartiesView.applyViewSpec()}"
         class="flex-container">
        <table class="ds-table" data-border="true">
            <thead>
            <tr>
                <th>
                    <label>Org.nr.</label>
                </th>
                <th>
                    <label>Navn</label>
                </th>
                <th>
                    <label>Oppretta</label>
                </th>
                <th>
                    <label>Sist oppdatert</label>
                </th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${#lists.isEmpty(sorted_and_filtered_results)}">
                <td th:colspan="4">
                    Fant ingen brukerstader!
                </td>
            </tr>
            <tr th:each="rp : ${sorted_and_filtered_results}">
                <td><a th:href="@{/details(id=${rp.id})}" style="cursor:pointer;"><div th:text="${rp.orgno}"></div></a> </td>
                <td th:text="${rp.name}"></td>
                <td th:text="${#dates.format(rp.createdMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${#dates.format(rp.lastUpdatedMs, 'dd-MM-yyyy HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
